<html ng-app="playerApp" ng-controller="streamController">

<head>
    <title> Sample Qt WebChannel+Angular Demo(Video Streamer)</title>
    <!-- Externa Modules -->
    <script src="js/modules/qwebchannel.js" type="text/javascript"></script>

    <!-- Andular Files -->
    <script src="js/modules/angular.js"></script>
    <script src="app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body>
    <!-- <button type="button" ng-click="flipStreamState()">{{buttonText}}</button> -->

    <!-- <label ng-show="isStreaming"> LOL </label> -->
    <button type="button" ng-click="flipStreamState()">{{buttonTexts[isStreaming]}}</button>
    <br />
    <img ng-src="data:image/jpg;base64,{{currFrameData}}">
</body>
</html>
